@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
  font-weight: 100 1000;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.MuiToolbar-root {
  user-select: none;
  -webkit-app-region: drag;
}