@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
  font-weight: 100 1000;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.MuiToolbar-root {
  user-select: none;
  -webkit-app-region: drag;
}

.dot {
  font-size: 2.5rem;
  line-height: 0;
  animation: blink 1.5s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}
